
{{!-- cards display --}}
<section class="card">
  <a href="/listing/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{listings.[0].filename}}" alt="{{listings.[0].description}}">
  </a>
</section>