<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>

	<header>
		<img id="emblem" src="/imgs/icons8-home-100.png" alt="home icon"></a>
		<nav>
			<ul class="nav-list">
				<li><a href="/homepage">Home Page</a></li>
				<li><a href="/about">About</a></li>|
				<li><a href="/listings">Buyers</a></li>|
				<li> <a href="/login">Login</a></li>
			</ul>
		</nav>
	</header>

	<main class="home">

{{{ body }}}

    </main>

	<footer>
		<small>
			Copyright:&nbsp;&nbsp;© 2022 Roman Sokol, John Mizis, Aaron King, Hector Perez
			<br>
			License:&nbsp;&nbsp;&nbsp;
			<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>
			<br>
			Social:&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://github.com/sokolroman">github</a>
		</small>
	</footer>

<script src="/js/carousel.js"></script>
  <script src="/js/logout.js"></script>
</body>

</html>
