
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<title>home page</title>
</head>

<body>
  <header>
    <div class="header-banner">

      <div id="emblem">
        <img src="./imgs/icons8-home-100.png" alt="home icon">
        <h1>HOME PAGE</h1>
      </div>

    </div>
    <div class="clear"></div>
    <nav>
        <div class="site-title">HOME PAGE</div>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/about">About</a></li>
            <li><button class="open-button" onclick="openForm()">Contact</button>
            </li>
        <ul>
    </nav>
  </header>
     
<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Contact Form</h1>

    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Number of Home</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1"> Additional Info: </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

	<main class="home">

{{{ body }}}

    </main>

<footer>
  <small>
    Copyright:&nbsp;&nbsp;© 2022 Roman Sokol, John Mizis, Aaron King, Hector Perez
    <br>
    License:&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>
    <br>
  
  </small>
</footer>

<!-- <script src="/js/carousel.js"></script> -->
<script src="/js/logout.js"></script>
<script src="/js/script.js"></script>

</body>

</html>

