
<article>
<h1>About</h1>
	<p>Webpage created by 2022 WEB Design students for their second project. Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
	<p>Started in 2022, Home Page is a leader in providing realtors with an easy-to-access application which allows sellers to upload homes to a databass. Buyers can view and contact the realtor directly for information about homes. </p>
</article>