
  <section class="content">
    <h2>HOME PAGE FULL LISTINGS PAGE</h2>

      <section class="cards">
                
        <article class="card">
            <a href="#">
                <picture class="thumbnail">
                    <img src="./imgs/1.jpeg" alt="home 1">
                </picture>
                <div class="card-content">
                  <span class="tooltiptext">Home 1</span>
                    <h3>300,000$</h3>
                    <p>3 Beds | 2.5 Baths | 5,000sq lot</p>
                    <p>Execute are we in agreeance what do you feel you would bring to the table if you were hired for this position, nor closer to the metal goalposts, are there any leftovers in the kitchen?.</p>

                </div><!-- .card-content -->
            </a>
        </article><!-- .card -->

        <article class="card">
            <a href="#">
                <picture class="thumbnail">
                    <img src="./imgs/2.jpeg" alt="home 2">
                </picture>
                <div class="card-content">
                  <span class="tooltiptext">Home 2</span>
                    <h3>400,000$</h3>
                    <p>3 Beds | 3 Baths | 6,000sq lot</p>
                    <p>Execute are we in agreeance what do you feel you would bring to the table if you were hired for this position, nor closer to the metal goalposts, are there any leftovers in the kitchen?.</p>
                </div><!-- .card-content -->
            </a>
        </article> 

        <article class="card">
          <a href="#">
              <picture class="thumbnail">
                  <img src="./imgs/3.jpeg" alt="home 3">
              </picture>
              <div class="card-content">
                <span class="tooltiptext">Home 3</span>
                  <h3>500,000$</h3>
                  <p>4 Beds | 3.5 Baths | 8,000sq lot</p>
                  <p>Execute are we in agreeance what do you feel you would bring to the table if you were hired for this position, nor closer to the metal goalposts, are there any leftovers in the kitchen?.</p>
              </div><!-- .card-content -->
          </a>
      </article>     
      
      <article class="card">
        <a href="#">
            <picture class="thumbnail">
                <img src="./imgs/4.jpeg" alt="home 4">
            </picture>
            <div class="card-content">
              <span class="tooltiptext">Home 4</span>
                <h3>250,000$</h3>
                <p>3 Beds | 2.5 Baths | 2,000sq lot</p>
                <p>Execute are we in agreeance what do you feel you would bring to the table if you were hired for this position, nor closer to the metal goalposts, are there any leftovers in the kitchen?.</p>
            </div><!-- .card-content -->
        </a>
    </article> 

  </section> 
