<article class="card">

  <a href="{{Link to page.hanlebars}}">

    <picture class="thumbnail">
      <img src="./imgs/2.jpeg" alt="home 2" />
    </picture>

    <div class="card-content tooltip">
      <span class="tooltiptext">Home 2</span>
      <h3>400,000$</h3>
      <p>3 Beds | 3 Baths | 6,000sq lot</p>
    </div>
  </a>
  
</article>