
<main class="home">

  <figure>
    <img
      style="width:400px;"
      id="home"
      class="film-carousel"
      src="./imgs/1.jpeg"
      alt="Home 1"
    />
    <img
      style="width:400px;"
      id="home"
      class="film-carousel"
      src="./imgs/2.jpeg"
      alt="Home 2"
    />
    <img
      style="width:400px;"
      id="home"
      class="film-carousel"
      src="./imgs/3.jpeg"
      alt="Home 3"
    />
    <img
      style="width:400px;"
      id="home"
      class="film-carousel"
      src="./imgs/4.jpeg"
      alt="Home 4"
    />
    <figcaption stle="text-align: center;"> 2022 Home Page Realtor</figcaption>
  </figure>

  <h1>Find Your Local Area Home</h1>

  <div class="jumbotron">
    <div class="container">
      <h2>Featured</h2>

  {{!-- place 3 listings on home page  --}}
  {{{ /card }}} 

    </div>
  </div>

  <article>
    <h3>
      About
    </h3>
    <p>Webpage created by 2022 WEB Design course. Sunt in culpa qui officia
      deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco.</p>
  </article>

</main>