<body>
    <header>
        <img id="emblem" src="./imgs/icons8-home-100.png" alt="home icon"></a>
        <nav>
            <ul class="nav-list">
                <li><a href="index.html">Home Page</a></li>
                <li><a href="about.html">About</a></li>|
                <li><a href="buy.html">Buyers</a></li>|
                <li><a href="signup.html">Login / Register</a></li>
            </ul>
        </nav>
    </header>
    <main class="home">
{{!-- listings
 --}}
    <article>
    <section class="container">
  <h3 class="listing-availiable">{{listing.availiable}}</h3>
  <section class="flex-row justify-center">
    {{#each listing.availiable as |listings|}}
    {{> listing-details}}
    {{/each}}
  </section>
</section>
</article>
    </main>
  <footer>
        <small>
            Copyright:&nbsp;&nbsp;© 2022 Roman Sokol, John Mizis, Aaron King, Hector Perez
            <br>
            License:&nbsp;&nbsp;&nbsp;
            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>
            <br>
            Social:&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/sokolroman">github</a>
        </small>
    </footer>