
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" href="./assets/icons:fonts/favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="../public/css/style.css" type="text/css">
	<title>roman's webpage</title>
</head>

<body>
	<header id="listing-id">
		<img id="emblem" src="./imgs/icons8-home-100.png" alt="home icon"></a>
	</header>

	<main class="home">
		<h1 id="h1-listing-id">Listings Page</h1>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>

		  <div class="jumbotron">
			<div class="container">
				<div class="card" style="width: 18rem;">
					<img style="width:250px; margin:auto;" src="./imgs/1.jpeg"
	alt="Home 1">
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/2.jpeg"
					alt="Home 2">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/3.jpeg"
					alt="Home 3">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
				  <div class="card" style="width: 18rem;">
					<img style="width:250px;margin:auto;" src="./imgs/4.jpeg"
					alt="Home 4">					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				  </div>
			</div>
		  </div>
	</main>
	
    <script src="/js/listing.js"></script>
</body>

</html>
