
<section class="global-container" style="margin: auto; padding: 2.5em;">
 <figure>
				<img style="width: 900px; display: none;" class="film-carousel" src="/imgs/1.jpeg" alt="Home 1">
				<img style="width: 900px; display: none;" class="film-carousel" src="/imgs/2.jpeg" alt="Home 2">
				<img style="width: 900px; display: none;" class="film-carousel" src="/imgs/3.jpeg" alt="Home 3">
				<figcaption stle="text-align: center;"> 2022 Home Page</figcaption>
			</figure>

  <article>
             <div>
                   <h3>625,000$</h3>
                    <h4>4399 McNamara Place lewis Center OH 43035</h4>
                    <p>4 Beds | 5 Baths | 4,150 sqft</p>
                  <p>Execute are we in agreeance what do you feel you would bring to the table if you were hired for this position, nor closer to the metal goalposts, are there any leftovers in the kitchen?.</p>
              </div><!-- .card-content -->
          </a>
      </article>  

</section>
 
     